.product-update-container{
    margin: 1rem 10rem;
}

@media (max-width: 1024px) {
    .product-update-container{
        margin: 1rem 3.5rem;
    }
}

@media (max-width: 768px) {
    .product-update-container{
        margin: 1rem 3rem;
    }
}
