.login-container {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/form1.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.login-form{
  background: var(--warning-color);
  opacity: 70%;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}
.separator{
  text-align: center;
  font-size: 1.5rem;
  margin: 1.2rem 0;
}
.google-container{
  align-items: center;
}

