.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
}

.btn-white {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.btn-wheat {
  background-color: var(--text-color);
}

.btn-danger{
    background-color: var(--danger-color);
    color:bisque
}

.btn:disabled{
  background-color: gray; 
  color: white;
  cursor: not-allowed;
}