.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message{
    color: var(--primary-color)
}