.gdpr-checkbox-container {
    margin: 20px 0;
    text-align: left;
}

.checkbox-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.checkbox-row input {
    width: auto; 
    margin-top: 5px;
    cursor: pointer;
}

.checkbox-row label {
    font-size: 0.9rem;
    color: #444;
}

.checkbox-row a {
    color: var(--primary-color);
    text-decoration: underline;
}

.error-text {
    color: var(--danger-color);
    font-size: 0.8rem;
    display: block;
    margin-top: 5px;
}